In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.datasets import load_iris, fetch_california_housing
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor,AdaBoostRegressor, GradientBoostingRegressor

from sklearn.model_selection import train_test_split

from imblearn.over_sampling import SMOTE
!pip install imbalanced-learn

from sklearn.metrics import mean_squared_error, mean_absolute_error

from sklearn.preprocessing import MinMaxScaler, StandardScaler

Requirement already satisfied: imbalanced-learn in c:\users\ramya\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)

In [2]:
path_1 = "E:\\BootCamp_Project\\202301-divvy-tripdata.csv"
path_2 = "E:\\BootCamp_Project\\202302-divvy-tripdata.csv"
path_3 = "E:\\BootCamp_Project\\202303-divvy-tripdata.csv"
path_4 = "E:\\BootCamp_Project\\202304-divvy-tripdata.csv"
path_5 = "E:\\BootCamp_Project\\202305-divvy-tripdata.csv"
path_6 = "E:\\BootCamp_Project\\202306-divvy-tripdata.csv"
path_7 = "E:\\BootCamp_Project\\202307-divvy-tripdata.csv"
path_8 = "E:\\BootCamp_Project\\202308-divvy-tripdata.csv"
path_9 = "E:\\BootCamp_Project\\202309-divvy-tripdata.csv"
path_10 = "E:\\BootCamp_Project\\202310-divvy-tripdata.csv"
path_11 = "E:\\BootCamp_Project\\202311-divvy-tripdata.csv"
path_12 = "E:\\BootCamp_Project\\202312-divvy-tripdata.csv"

In [3]:
df_1 = pd.read_csv(path_1)
df_2 = pd.read_csv(path_2)
df_3 = pd.read_csv(path_3)

In [4]:
df_4 = pd.read_csv(path_4)
df_5 = pd.read_csv(path_5)
df_6 = pd.read_csv(path_6)

In [5]:
df_7 = pd.read_csv(path_7)
df_8 = pd.read_csv(path_8)
df_9 = pd.read_csv(path_9)

In [6]:
df_10 = pd.read_csv(path_10)
df_11 = pd.read_csv(path_11)
df_12 = pd.read_csv(path_12)

In [7]:
df_1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190296,A303816F2E8A35A8,electric_bike,2023-01-11 17:46:23,2023-01-11 17:57:31,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902634,-87.631591,41.920771,-87.663712,casual
190297,BCDBB142CC610382,classic_bike,2023-01-30 15:08:10,2023-01-30 15:33:26,Western Ave & Leland Ave,TA1307000140,Clarendon Ave & Gordon Ter,13379,41.966400,-87.688704,41.957867,-87.649505,member
190298,7D1C7CA80517183B,classic_bike,2023-01-06 19:34:50,2023-01-06 19:50:01,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual
190299,1A4EB636346DF527,classic_bike,2023-01-13 18:59:24,2023-01-13 19:14:44,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual
190300,069971675AC7DC62,electric_bike,2023-01-02 13:48:29,2023-01-02 13:59:29,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902822,-87.631687,41.920771,-87.663712,casual

In [8]:
dfs = {
    'df_1': df_1,
    'df_2': df_2,
    'df_3': df_3,
    'df_4': df_4,
    'df_5': df_5,
    'df_6': df_6,
    'df_7': df_7,
    'df_8': df_8,
    'df_9': df_9,
    'df_10': df_10,
    'df_11': df_11,
    'df_12': df_12,
}

for name, df in dfs.items():
    print(f"The shape of {name} is {df.shape}")

The shape of df_1 is (190301, 13)
The shape of df_2 is (190445, 13)
The shape of df_3 is (258678, 13)
The shape of df_4 is (426590, 13)
The shape of df_5 is (604827, 13)
The shape of df_6 is (719618, 13)
The shape of df_7 is (767650, 13)
The shape of df_8 is (771693, 13)
The shape of df_9 is (666371, 13)
The shape of df_10 is (537113, 13)
The shape of df_11 is (362518, 13)
The shape of df_12 is (224073, 13)

In [9]:
dfs_2 = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12]

for i in range(len(dfs_2)):
    if 'ride_id' in dfs_2[i].columns:
        dfs_2[i] = dfs_2[i].drop(columns=['ride_id'])

In [10]:
df_1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190296,A303816F2E8A35A8,electric_bike,2023-01-11 17:46:23,2023-01-11 17:57:31,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902634,-87.631591,41.920771,-87.663712,casual
190297,BCDBB142CC610382,classic_bike,2023-01-30 15:08:10,2023-01-30 15:33:26,Western Ave & Leland Ave,TA1307000140,Clarendon Ave & Gordon Ter,13379,41.966400,-87.688704,41.957867,-87.649505,member
190298,7D1C7CA80517183B,classic_bike,2023-01-06 19:34:50,2023-01-06 19:50:01,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual
190299,1A4EB636346DF527,classic_bike,2023-01-13 18:59:24,2023-01-13 19:14:44,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual
190300,069971675AC7DC62,electric_bike,2023-01-02 13:48:29,2023-01-02 13:59:29,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902822,-87.631687,41.920771,-87.663712,casual

In [11]:
df_1 = df_1.drop(columns = ['ride_id'])
df_2 = df_2.drop(columns = ['ride_id'])
df_3 = df_3.drop(columns = ['ride_id'])
df_4 = df_4.drop(columns = ['ride_id'])
df_5 = df_5.drop(columns = ['ride_id'])
df_6 = df_6.drop(columns = ['ride_id'])
df_7 = df_7.drop(columns = ['ride_id'])
df_8 = df_8.drop(columns = ['ride_id'])
df_9 = df_9.drop(columns = ['ride_id'])
df_10 = df_10.drop(columns = ['ride_id'])
df_11 = df_11.drop(columns = ['ride_id'])
df_12 = df_12.drop(columns = ['ride_id'])

In [12]:
df = pd.concat(dfs_2, axis = 0)

In [13]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...
224068,electric_bike,2023-12-07 13:15:24,2023-12-07 13:17:37,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874702,-87.649804,41.874640,-87.657030,casual
224069,classic_bike,2023-12-08 18:42:21,2023-12-08 18:45:56,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,casual
224070,classic_bike,2023-12-05 14:09:11,2023-12-05 14:13:01,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member
224071,electric_bike,2023-12-02 21:36:07,2023-12-02 21:53:45,Damen Ave & Madison St,13134,Morgan St & Lake St*,chargingstx4,41.881396,-87.674984,41.885492,-87.652289,casual
224072,classic_bike,2023-12-11 13:07:46,2023-12-11 13:11:24,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member

In [14]:
df.sort_values(by='started_at', ascending=True, inplace = True)

In [15]:
df = df.reset_index()

In [16]:
df

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,80659,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual
1,189816,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member
2,185198,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual
3,106410,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual
4,169407,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719872,222564,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member
5719873,178730,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual
5719874,179852,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member
5719875,119377,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual
5719876,104918,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member

In [17]:
df.isna().sum()

index                      0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    875716
start_station_id      875848
end_station_name      929202
end_station_id        929343
start_lat                  0
start_lng                  0
end_lat                 6990
end_lng                 6990
member_casual              0
dtype: int64

In [18]:
df.dtypes

index                   int64
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [19]:
df['started_at'] = pd.to_datetime(df['started_at'])

In [20]:
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [21]:
df.dtypes

index                          int64
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [22]:
df.drop(columns = ['index'], inplace = True)

In [23]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member
...,...,...,...,...,...,...,...,...,...,...,...,...
5719872,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member
5719873,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual
5719874,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member
5719875,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual
5719876,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member

In [24]:
df['started_at_day'] = df['started_at'].dt.day_name()
df['started_at_month'] = df['started_at'].dt.month_name()
df['started_at_hour'] = df['started_at'].dt.hour

In [25]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719872,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23
5719873,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23
5719874,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23
5719875,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23
5719876,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23

In [26]:
df_filtered = df[df['ended_at'] >= df['started_at']]

In [27]:
df_filtered.reset_index(inplace = True)

In [28]:
df_filtered.drop(columns = ['index'], inplace = True)
df_filtered

C:\Users\ramya\AppData\Local\Temp\ipykernel_6920\353398977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.drop(columns = ['index'], inplace = True)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23

In [36]:
df_filtered['ride_time'] = df_filtered['ended_at'] - df_filtered['started_at']

C:\Users\ramya\AppData\Local\Temp\ipykernel_6920\1389217222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['ride_time'] = df_filtered['ended_at'] - df_filtered['started_at']

In [37]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,ride_time
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,0 days 00:00:43
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,0 days 00:27:40
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,0 days 00:03:57
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,0 days 00:09:49
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,0 days 00:12:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,0 days 00:28:47
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,0 days 00:04:15
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,0 days 00:02:25
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,0 days 00:07:13
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,0 days 00:00:38

In [29]:
df_filtered['end_station_name'].value_counts().head(20)

Streeter Dr & Grand Ave               64197
DuSable Lake Shore Dr & North Blvd    39299
DuSable Lake Shore Dr & Monroe St     38022
Michigan Ave & Oak St                 37994
Clark St & Elm St                     34962
Kingsbury St & Kinzie St              34253
Wells St & Concord Ln                 34172
Clinton St & Washington Blvd          33394
Millennium Park                       31049
Theater on the Lake                   30596
Wells St & Elm St                     30296
Broadway & Barry Ave                  29302
Clinton St & Madison St               27956
Wilton Ave & Belmont Ave              27086
Clark St & Armitage Ave               26579
University Ave & 57th St              26516
State St & Chicago Ave                25928
Clark St & Lincoln Ave                25498
Wabash Ave & Grand Ave                25396
Indiana Ave & Roosevelt Rd            24890
Name: end_station_name, dtype: int64

In [61]:
df_filtered['start_station_name'].value_counts()

Streeter Dr & Grand Ave                   63249
DuSable Lake Shore Dr & Monroe St         40288
Michigan Ave & Oak St                     37383
DuSable Lake Shore Dr & North Blvd        35966
Clark St & Elm St                         35805
                                          ...
Public Rack - Zapata Academy                  1
Public Rack - Pulaski Rd & Flournoy St        1
Public Rack - Wallace St & 112 St             1
Public Rack - Wrightwood Metra Station        1
Keeler Ave & Carmen Ave                       1
Name: start_station_name, Length: 1592, dtype: int64

In [31]:
df_filtered['started_at_day'].value_counts()

Saturday     883530
Thursday     860168
Friday       843489
Wednesday    835591
Tuesday      822954
Sunday       744497
Monday       729376
Name: started_at_day, dtype: int64

In [32]:
df_filtered['started_at_month'].value_counts()

August       771633
July         767620
June         719611
September    666321
May          604817
October      537077
April        426586
November     362454
March        258678
December     224063
February     190444
January      190301
Name: started_at_month, dtype: int64

In [33]:
df_filtered['started_at_hour'].value_counts()

17    587224
16    514121
18    479973
15    405989
19    345229
14    344623
13    335382
12    330708
8     314910
11    286895
7     247601
20    243568
10    235448
9     234915
21    195061
22    156361
6     135458
23    105725
0      72423
5      45570
1      45069
2      26728
3      15877
4      14747
Name: started_at_hour, dtype: int64

In [34]:
df_filtered['rideable_type'].value_counts()

electric_bike    2945350
classic_bike     2695968
docked_bike        78287
Name: rideable_type, dtype: int64

In [35]:
df_filtered['member_casual'].value_counts()

member    3660568
casual    2059037
Name: member_casual, dtype: int64

In [38]:
df_filtered.groupby('member_casual')['ride_time'].mean()

member_casual
casual   0 days 00:28:14.895033454
member   0 days 00:12:31.548014133
Name: ride_time, dtype: timedelta64[ns]

In [49]:
df_filtered.groupby(['started_at_hour', 'member_casual'])[['member_casual']].count()

                               member_casual
started_at_hour member_casual
0               casual                 36890
                member                 35533
1               casual                 23902
                member                 21167
2               casual                 14453
                member                 12275
3               casual                  7941
                member                  7936
4               casual                  5969
                member                  8778
5               casual                 11428
                member                 34142
6               casual                 30150
                member                105308
7               casual                 52999
                member                194602
8               casual                 70696
                member                244214
9               casual                 70005
                member                164910
10              casual                 86602
                member                148846
11              casual                110521
                member                176374
12              casual                130770
                member                199938
13              casual                136650
                member                198732
14              casual                142726
                member                201897
15              casual                159256
                member                246733
16              casual                182494
                member                331627
17              casual                199270
                member                387954
18              casual                172190
                member                307783
19              casual                127263
                member                217966
20              casual                 91914
                member                151654
21              casual                 77301
                member                117760
22              casual                 68356
                member                 88005
23              casual                 49291
                member                 56434

In [44]:
df_filtered.groupby('started_at_hour')[['member_casual']].count()

                 member_casual
started_at_hour
0                        72423
1                        45069
2                        26728
3                        15877
4                        14747
5                        45570
6                       135458
7                       247601
8                       314910
9                       234915
10                      235448
11                      286895
12                      330708
13                      335382
14                      344623
15                      405989
16                      514121
17                      587224
18                      479973
19                      345229
20                      243568
21                      195061
22                      156361
23                      105725

In [62]:
df_mem_cas_star_stat = pd.DataFrame(df_filtered.groupby(['member_casual', 'start_station_name'])['start_station_name'].count())

In [63]:
df_mem_cas_end_stat = pd.DataFrame(df_filtered.groupby(['member_casual', 'end_station_name'])['end_station_name'].count())

In [64]:
df_filtered.to_csv('df_BC.csv', index=False)

In [65]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,ride_time
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,0 days 00:00:43
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,0 days 00:27:40
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,0 days 00:03:57
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,0 days 00:09:49
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,0 days 00:12:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,0 days 00:28:47
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,0 days 00:04:15
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,0 days 00:02:25
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,0 days 00:07:13
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,0 days 00:00:38

In [66]:
df_filtered.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
started_at_day                 object
started_at_month               object
started_at_hour                 int64
ride_time             timedelta64[ns]
dtype: object

In [71]:
df_filtered['ride_time_1'] = pd.to_datetime(df_filtered['started_at'])

C:\Users\ramya\AppData\Local\Temp\ipykernel_6920\2923134212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['ride_time_1'] = pd.to_datetime(df['started_at'])

In [76]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,ride_time
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,0 days 00:00:43
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,0 days 00:27:40
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,0 days 00:03:57
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,0 days 00:09:49
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,0 days 00:12:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,0 days 00:28:47
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,0 days 00:04:15
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,0 days 00:02:25
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,0 days 00:07:13
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,0 days 00:00:38

In [77]:
df_filtered['rides_in_minutes'] = df_filtered['ride_time'].dt.total_seconds() / 60

C:\Users\ramya\AppData\Local\Temp\ipykernel_6920\993581274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['rides_in_minutes'] = df_filtered['ride_time'].dt.total_seconds() / 60

In [78]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,ride_time,rides_in_minutes
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,0 days 00:00:43,0.716667
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,0 days 00:27:40,27.666667
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,0 days 00:03:57,3.950000
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,0 days 00:09:49,9.816667
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,0 days 00:12:25,12.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,0 days 00:28:47,28.783333
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,0 days 00:04:15,4.250000
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,0 days 00:02:25,2.416667
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,0 days 00:07:13,7.216667
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,0 days 00:00:38,0.633333

In [79]:
df_filtered['rides_in_minutes'] = np.ceil(df_filtered['ride_time'].dt.total_seconds() / 60)

C:\Users\ramya\AppData\Local\Temp\ipykernel_6920\2335986619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['rides_in_minutes'] = np.ceil(df_filtered['ride_time'].dt.total_seconds() / 60)

In [80]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,ride_time,rides_in_minutes
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,0 days 00:00:43,1.0
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,0 days 00:27:40,28.0
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,0 days 00:03:57,4.0
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,0 days 00:09:49,10.0
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,0 days 00:12:25,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,0 days 00:28:47,29.0
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,0 days 00:04:15,5.0
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,0 days 00:02:25,3.0
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,0 days 00:07:13,8.0
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,0 days 00:00:38,1.0

In [81]:
df_filtered.to_csv('df_BC_1.csv', index=False)