# Importing Libraries

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

from datetime import datetime

!pip install pandas geopandas shapely


from sklearn.datasets import load_iris, fetch_california_housing
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor,AdaBoostRegressor, GradientBoostingRegressor

from sklearn.model_selection import train_test_split

from imblearn.over_sampling import SMOTE
!pip install imbalanced-learn

from sklearn.metrics import mean_squared_error, mean_absolute_error

from sklearn.preprocessing import MinMaxScaler, StandardScaler

Requirement already satisfied: pandas in c:\users\ramya\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: geopandas in c:\users\ramya\anaconda3\lib\site-packages (0.14.4)
Requirement already satisfied: shapely in c:\users\ramya\anaconda3\lib\site-packages (2.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ramya\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ramya\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\ramya\anaconda3\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: packaging in c:\users\ramya\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\ramya\anaconda3\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: fiona>=1.8.21 in c:\users\ramya\anaconda3\lib\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: importlib-metadata in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (4.11.3)
Requirement already satisfied: cligj>=0.5 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: certifi in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: six in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: click~=8.0 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (8.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (21.4.0)
Requirement already satisfied: click-plugins>=1.0 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ramya\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.9)
Requirement already satisfied: colorama in c:\users\ramya\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.5)
Requirement already satisfied: zipp>=0.5 in c:\users\ramya\anaconda3\lib\site-packages (from importlib-metadata->fiona>=1.8.21->geopandas) (3.8.0)
Requirement already satisfied: imbalanced-learn in c:\users\ramya\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.24.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)

# Importing Datasets

In [2]:
path_1 = "E:\\BootCamp_Project\\202301-divvy-tripdata.csv"
path_2 = "E:\\BootCamp_Project\\202302-divvy-tripdata.csv"
path_3 = "E:\\BootCamp_Project\\202303-divvy-tripdata.csv"
path_4 = "E:\\BootCamp_Project\\202304-divvy-tripdata.csv"
path_5 = "E:\\BootCamp_Project\\202305-divvy-tripdata.csv"
path_6 = "E:\\BootCamp_Project\\202306-divvy-tripdata.csv"
path_7 = "E:\\BootCamp_Project\\202307-divvy-tripdata.csv"
path_8 = "E:\\BootCamp_Project\\202308-divvy-tripdata.csv"
path_9 = "E:\\BootCamp_Project\\202309-divvy-tripdata.csv"
path_10 = "E:\\BootCamp_Project\\202310-divvy-tripdata.csv"
path_11 = "E:\\BootCamp_Project\\202311-divvy-tripdata.csv"
path_12 = "E:\\BootCamp_Project\\202312-divvy-tripdata.csv"

In [3]:
df_1 = pd.read_csv(path_1)
df_2 = pd.read_csv(path_2)
df_3 = pd.read_csv(path_3)

In [4]:
df_4 = pd.read_csv(path_4)
df_5 = pd.read_csv(path_5)
df_6 = pd.read_csv(path_6)

In [5]:
df_7 = pd.read_csv(path_7)
df_8 = pd.read_csv(path_8)
df_9 = pd.read_csv(path_9)

In [6]:
df_10 = pd.read_csv(path_10)
df_11 = pd.read_csv(path_11)
df_12 = pd.read_csv(path_12)

In [7]:
dfs = {
    'df_1': df_1,
    'df_2': df_2,
    'df_3': df_3,
    'df_4': df_4,
    'df_5': df_5,
    'df_6': df_6,
    'df_7': df_7,
    'df_8': df_8,
    'df_9': df_9,
    'df_10': df_10,
    'df_11': df_11,
    'df_12': df_12,
}

for name, df in dfs.items():
    print(f"The shape of {name} is {df.shape}")

The shape of df_1 is (190301, 13)
The shape of df_2 is (190445, 13)
The shape of df_3 is (258678, 13)
The shape of df_4 is (426590, 13)
The shape of df_5 is (604827, 13)
The shape of df_6 is (719618, 13)
The shape of df_7 is (767650, 13)
The shape of df_8 is (771693, 13)
The shape of df_9 is (666371, 13)
The shape of df_10 is (537113, 13)
The shape of df_11 is (362518, 13)
The shape of df_12 is (224073, 13)

# Cleaning, Exploring and Wranglingt the datasets

In [8]:
df_1 = df_1.drop(columns = ['ride_id'])
df_2 = df_2.drop(columns = ['ride_id'])
df_3 = df_3.drop(columns = ['ride_id'])
df_4 = df_4.drop(columns = ['ride_id'])
df_5 = df_5.drop(columns = ['ride_id'])
df_6 = df_6.drop(columns = ['ride_id'])
df_7 = df_7.drop(columns = ['ride_id'])
df_8 = df_8.drop(columns = ['ride_id'])
df_9 = df_9.drop(columns = ['ride_id'])
df_10 = df_10.drop(columns = ['ride_id'])
df_11 = df_11.drop(columns = ['ride_id'])
df_12 = df_12.drop(columns = ['ride_id'])

In [9]:
df_list = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12]

In [10]:
# Concatenating datasets
df = pd.concat(df_list, axis = 0)

In [11]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...
224068,electric_bike,2023-12-07 13:15:24,2023-12-07 13:17:37,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874702,-87.649804,41.874640,-87.657030,casual
224069,classic_bike,2023-12-08 18:42:21,2023-12-08 18:45:56,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,casual
224070,classic_bike,2023-12-05 14:09:11,2023-12-05 14:13:01,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member
224071,electric_bike,2023-12-02 21:36:07,2023-12-02 21:53:45,Damen Ave & Madison St,13134,Morgan St & Lake St*,chargingstx4,41.881396,-87.674984,41.885492,-87.652289,casual
224072,classic_bike,2023-12-11 13:07:46,2023-12-11 13:11:24,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member

In [12]:
# Sorting the dataframe into logical order by time 
df.sort_values(by='started_at', ascending=True, inplace = True)

In [13]:
df = df.reset_index()

In [14]:
df

,index,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,80659,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual
1,189816,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member
2,185198,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual
3,106410,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual
4,169407,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719872,222564,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member
5719873,178730,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual
5719874,179852,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member
5719875,119377,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual
5719876,104918,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member

In [15]:
df.drop(columns = ['index'], inplace = True)

In [16]:
df.isna().sum()

rideable_type              0
started_at                 0
ended_at                   0
start_station_name    875716
start_station_id      875848
end_station_name      929202
end_station_id        929343
start_lat                  0
start_lng                  0
end_lat                 6990
end_lng                 6990
member_casual              0
dtype: int64

In [17]:
df.dtypes

rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [18]:
### Changing data types for analysis

In [19]:
df['started_at'] = pd.to_datetime(df['started_at'])

In [20]:
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [21]:
df.dtypes

rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [22]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member
...,...,...,...,...,...,...,...,...,...,...,...,...
5719872,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member
5719873,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual
5719874,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member
5719875,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual
5719876,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member

In [23]:
# Creating columns for the day, the month, and the hour the ride started at
df['started_at_day'] = df['started_at'].dt.day_name()
df['started_at_month'] = df['started_at'].dt.month_name()
df['started_at_hour'] = df['started_at'].dt.hour

In [24]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719872,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23
5719873,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23
5719874,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23
5719875,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23
5719876,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23

In [25]:
# Dropping the rows which has the end time of the ride coming before the start time
df_filtered = df[df['ended_at'] >= df['started_at']]

In [26]:
df_filtered.reset_index(drop=True, inplace=True)
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23

In [27]:
################################

In [28]:
# Creating a new column for the mopnth the ride was made in
df_filtered['month'] = df_filtered['started_at'].dt.to_period('M')

C:\Users\ramya\AppData\Local\Temp\ipykernel_34468\1520822780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['month'] = df_filtered['started_at'].dt.to_period('M')

In [29]:
# Calculating the number of rides per month 
monthly_rides = df_filtered.groupby('month').size()
monthly_rides

month
2023-01    190301
2023-02    190444
2023-03    258678
2023-04    426586
2023-05    604817
2023-06    719611
2023-07    767620
2023-08    771633
2023-09    666321
2023-10    537077
2023-11    362454
2023-12    224063
Freq: M, dtype: int64

In [30]:
monthly_rides_df_2023 = monthly_rides.to_frame(name='ride_count').reset_index()
monthly_rides_df_2023['month'] = monthly_rides_df_2023['month'].dt.to_timestamp()
monthly_rides_df_2023.set_index('month', inplace=True)

In [31]:
print(monthly_rides_df_2023)

            ride_count
month
2023-01-01      190301
2023-02-01      190444
2023-03-01      258678
2023-04-01      426586
2023-05-01      604817
2023-06-01      719611
2023-07-01      767620
2023-08-01      771633
2023-09-01      666321
2023-10-01      537077
2023-11-01      362454
2023-12-01      224063

In [32]:
# Creating a dataset for the monthly rides
#monthly_rides_df_2023.to_csv("monthly_rides_df_2023.csv")

In [33]:
# Calculating the duration of each ride
df_filtered['ride_time'] = df_filtered['ended_at'] - df_filtered['started_at']

C:\Users\ramya\AppData\Local\Temp\ipykernel_34468\465686428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['ride_time'] = df_filtered['ended_at'] - df_filtered['started_at']

In [34]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,month,ride_time
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,2023-01,0 days 00:00:43
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,2023-01,0 days 00:27:40
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,2023-01,0 days 00:03:57
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,2023-01,0 days 00:09:49
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,2023-01,0 days 00:12:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,2023-12,0 days 00:28:47
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,2023-12,0 days 00:04:15
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:02:25
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,2023-12,0 days 00:07:13
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:00:38

# Exploring The Data

In [35]:
df_filtered['end_station_name'].value_counts().head(60)

Streeter Dr & Grand Ave                  64197
DuSable Lake Shore Dr & North Blvd       39299
DuSable Lake Shore Dr & Monroe St        38022
Michigan Ave & Oak St                    37994
Clark St & Elm St                        34962
Kingsbury St & Kinzie St                 34253
Wells St & Concord Ln                    34172
Clinton St & Washington Blvd             33394
Millennium Park                          31049
Theater on the Lake                      30596
Wells St & Elm St                        30296
Broadway & Barry Ave                     29302
Clinton St & Madison St                  27956
Wilton Ave & Belmont Ave                 27086
Clark St & Armitage Ave                  26579
University Ave & 57th St                 26516
State St & Chicago Ave                   25928
Clark St & Lincoln Ave                   25498
Wabash Ave & Grand Ave                   25396
Indiana Ave & Roosevelt Rd               24890
Ellis Ave & 60th St                      24587
Sheffield Ave & Fullerton Ave            24342
Dearborn St & Erie St                    23921
Clark St & Wrightwood Ave                23894
Wells St & Hubbard St                    23809
Wells St & Huron St                      23690
Canal St & Adams St                      23463
Sheffield Ave & Waveland Ave             23112
Clinton St & Jackson Blvd                22890
Michigan Ave & Washington St             22881
Lincoln Ave & Fullerton Ave              22482
St. Clair St & Erie St                   22444
Broadway & Waveland Ave                  22439
LaSalle St & Illinois St                 22359
Ashland Ave & Division St                22148
DuSable Lake Shore Dr & Diversey Pkwy    22108
Clark St & Newport St                    21879
Clark St & Drummond Pl                   21857
McClurg Ct & Ohio St                     21700
Michigan Ave & Lake St                   21622
Halsted St & Clybourn Ave                21614
Damen Ave & Pierce Ave                   21548
Loomis St & Lexington St                 21437
Dearborn Pkwy & Delaware Pl              21370
Shedd Aquarium                           21337
Larrabee St & Kingsbury St               21220
DuSable Lake Shore Dr & Belmont Ave      21097
Larrabee St & Webster Ave                21027
Wabash Ave & Roosevelt Rd                20952
Pine Grove Ave & Waveland Ave            20830
Halsted St & Roscoe St                   20778
Green St & Madison St                    20645
Broadway & Cornelia Ave                  20548
Dusable Harbor                           20398
New St & Illinois St                     20313
Southport Ave & Roscoe St                20240
Southport Ave & Waveland Ave             20137
Lakeview Ave & Fullerton Pkwy            20117
Canal St & Madison St                    20030
Montrose Harbor                          20028
Name: end_station_name, dtype: int64

In [36]:
df_filtered['start_station_name'].value_counts().head(60)

Streeter Dr & Grand Ave                  63249
DuSable Lake Shore Dr & Monroe St        40288
Michigan Ave & Oak St                    37383
DuSable Lake Shore Dr & North Blvd       35966
Clark St & Elm St                        35805
Kingsbury St & Kinzie St                 34965
Wells St & Concord Ln                    33588
Clinton St & Washington Blvd             32715
Wells St & Elm St                        30407
Millennium Park                          30154
Theater on the Lake                      30068
Broadway & Barry Ave                     28485
Wilton Ave & Belmont Ave                 27385
Clinton St & Madison St                  26840
University Ave & 57th St                 26647
Clark St & Armitage Ave                  26488
Indiana Ave & Roosevelt Rd               26235
State St & Chicago Ave                   25788
Clark St & Lincoln Ave                   25395
Wabash Ave & Grand Ave                   25247
Ellis Ave & 60th St                      25197
Sheffield Ave & Fullerton Ave            25179
Wells St & Huron St                      25086
Dearborn St & Erie St                    24164
Clark St & Wrightwood Ave                23657
Wells St & Hubbard St                    23593
Desplaines St & Kinzie St                23258
Canal St & Adams St                      23150
LaSalle St & Illinois St                 22900
Shedd Aquarium                           22803
Michigan Ave & Washington St             22796
Clinton St & Jackson Blvd                22596
Lincoln Ave & Fullerton Ave              22329
Broadway & Waveland Ave                  22213
Clark St & Newport St                    22036
Ashland Ave & Division St                22032
Larrabee St & Kingsbury St               21808
Loomis St & Lexington St                 21793
DuSable Lake Shore Dr & Diversey Pkwy    21658
St. Clair St & Erie St                   21629
McClurg Ct & Ohio St                     21533
Halsted St & Clybourn Ave                21529
Michigan Ave & Lake St                   21518
Dusable Harbor                           21458
Pine Grove Ave & Waveland Ave            21351
Dearborn Pkwy & Delaware Pl              21244
Broadway & Cornelia Ave                  21138
Clark St & Drummond Pl                   20981
DuSable Lake Shore Dr & Belmont Ave      20899
Halsted St & Roscoe St                   20837
Larrabee St & Webster Ave                20793
New St & Illinois St                     20752
Wabash Ave & Roosevelt Rd                20678
Columbus Dr & Randolph St                20483
Orleans St & Merchandise Mart Plaza      20318
Green St & Madison St                    20240
Sheffield Ave & Waveland Ave             20188
Damen Ave & Pierce Ave                   20183
Montrose Harbor                          20126
Lakeview Ave & Fullerton Pkwy            20123
Name: start_station_name, dtype: int64

In [37]:
df_filtered['started_at_day'].value_counts()

Saturday     883530
Thursday     860168
Friday       843489
Wednesday    835591
Tuesday      822954
Sunday       744497
Monday       729376
Name: started_at_day, dtype: int64

In [38]:
df_filtered['started_at_month'].value_counts()

August       771633
July         767620
June         719611
September    666321
May          604817
October      537077
April        426586
November     362454
March        258678
December     224063
February     190444
January      190301
Name: started_at_month, dtype: int64

In [39]:
df_filtered['started_at_hour'].value_counts()

17    587224
16    514121
18    479973
15    405989
19    345229
14    344623
13    335382
12    330708
8     314910
11    286895
7     247601
20    243568
10    235448
9     234915
21    195061
22    156361
6     135458
23    105725
0      72423
5      45570
1      45069
2      26728
3      15877
4      14747
Name: started_at_hour, dtype: int64

In [40]:
df_filtered['rideable_type'].value_counts()

electric_bike    2945350
classic_bike     2695968
docked_bike        78287
Name: rideable_type, dtype: int64

In [41]:
df_filtered['member_casual'].value_counts()

member    3660568
casual    2059037
Name: member_casual, dtype: int64

In [42]:
df_filtered.groupby('member_casual')['ride_time'].mean()

member_casual
casual   0 days 00:28:14.895033454
member   0 days 00:12:31.548014133
Name: ride_time, dtype: timedelta64[ns]

- The Casual made less number of rides than Members, but on average the make longer ride durations

In [43]:
# Counting the number of both Casual and Member rides per hour through the whole year 
df_filtered.groupby(['started_at_hour', 'member_casual'])[['member_casual']].count()

                               member_casual
started_at_hour member_casual
0               casual                 36890
                member                 35533
1               casual                 23902
                member                 21167
2               casual                 14453
                member                 12275
3               casual                  7941
                member                  7936
4               casual                  5969
                member                  8778
5               casual                 11428
                member                 34142
6               casual                 30150
                member                105308
7               casual                 52999
                member                194602
8               casual                 70696
                member                244214
9               casual                 70005
                member                164910
10              casual                 86602
                member                148846
11              casual                110521
                member                176374
12              casual                130770
                member                199938
13              casual                136650
                member                198732
14              casual                142726
                member                201897
15              casual                159256
                member                246733
16              casual                182494
                member                331627
17              casual                199270
                member                387954
18              casual                172190
                member                307783
19              casual                127263
                member                217966
20              casual                 91914
                member                151654
21              casual                 77301
                member                117760
22              casual                 68356
                member                 88005
23              casual                 49291
                member                 56434

In [44]:
# Creating a new DataFrame that counts the number of rides for each starting station for both Casual and Mmber riders
df_mem_cas_star_stat = pd.DataFrame(df_filtered.groupby(['member_casual', 'start_station_name'])['start_station_name'].count())

In [45]:
df_mem_cas_star_stat

                                            start_station_name
member_casual start_station_name
casual        2112 W Peterson Ave                          277
              410                                            2
              63rd St Beach                                621
              900 W Harrison St                           3247
              Aberdeen St & Jackson Blvd                  3830
...                                                        ...
member        Woodlawn Ave & 58th St                      1911
              Woodlawn Ave & 75th St                        30
              Woodlawn Ave & Lake Park Ave                 993
              Yates Blvd & 75th St                          70
              Yates Blvd & 93rd St                          12

[3004 rows x 1 columns]

In [46]:
df_mem_cas_end_stat = pd.DataFrame(df_filtered.groupby(['member_casual', 'end_station_name'])['end_station_name'].count())

In [47]:
# creating a Dataset for the df_filtered
#df_filtered.to_csv('df_BC.csv', index=False)

In [48]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,month,ride_time
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,2023-01,0 days 00:00:43
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,2023-01,0 days 00:27:40
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,2023-01,0 days 00:03:57
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,2023-01,0 days 00:09:49
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,2023-01,0 days 00:12:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,2023-12,0 days 00:28:47
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,2023-12,0 days 00:04:15
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:02:25
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,2023-12,0 days 00:07:13
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:00:38

In [49]:
df_filtered.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
started_at_day                 object
started_at_month               object
started_at_hour                 int64
month                       period[M]
ride_time             timedelta64[ns]
dtype: object

In [50]:
df_filtered['ride_time_1'] = pd.to_datetime(df_filtered['started_at'])

C:\Users\ramya\AppData\Local\Temp\ipykernel_34468\256039670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['ride_time_1'] = pd.to_datetime(df_filtered['started_at'])

In [51]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,month,ride_time,ride_time_1
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,2023-01,0 days 00:00:43,2023-01-01 00:01:58
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,2023-01,0 days 00:27:40,2023-01-01 00:02:06
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,2023-01,0 days 00:03:57,2023-01-01 00:03:26
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,2023-01,0 days 00:09:49,2023-01-01 00:04:07
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,2023-01,0 days 00:12:25,2023-01-01 00:04:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,2023-12,0 days 00:28:47,2023-12-31 23:55:28
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,2023-12,0 days 00:04:15,2023-12-31 23:56:28
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:02:25,2023-12-31 23:57:01
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,2023-12,0 days 00:07:13,2023-12-31 23:58:55
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:00:38,2023-12-31 23:59:38

In [52]:
# Transforming the Duration of the ride into minutes
df_filtered['rides_in_minutes'] = np.ceil(df_filtered['ride_time'].dt.total_seconds() / 60)

C:\Users\ramya\AppData\Local\Temp\ipykernel_34468\2335986619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['rides_in_minutes'] = np.ceil(df_filtered['ride_time'].dt.total_seconds() / 60)

In [54]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,month,ride_time,ride_time_1,rides_in_minutes
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,2023-01,0 days 00:00:43,2023-01-01 00:01:58,1.0
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,2023-01,0 days 00:27:40,2023-01-01 00:02:06,28.0
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,2023-01,0 days 00:03:57,2023-01-01 00:03:26,4.0
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,2023-01,0 days 00:09:49,2023-01-01 00:04:07,10.0
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,2023-01,0 days 00:12:25,2023-01-01 00:04:27,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,2023-12,0 days 00:28:47,2023-12-31 23:55:28,29.0
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,2023-12,0 days 00:04:15,2023-12-31 23:56:28,5.0
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:02:25,2023-12-31 23:57:01,3.0
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,2023-12,0 days 00:07:13,2023-12-31 23:58:55,8.0
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:00:38,2023-12-31 23:59:38,1.0

In [55]:
#df_filtered.to_csv('df_BC_1.csv', index=False)

# Importing Weather Dataset For The Year 2023

In [65]:
url = "C:\\Users\\ramya\\Downloads\\chicago_weather_2023.csv"
weather_df = pd.read_csv(url)

In [66]:
weather_df

          Date\tMax\tMin\tAvg
0        1/1/2023\t45\t37\t41
1      1/2/2023\t43\t32\t37.5
2      1/3/2023\t48\t39\t43.5
3      1/4/2023\t44\t33\t38.5
4        1/5/2023\t34\t32\t33
..                        ...
360    12/27/2023\t42\t30\t36
361    12/28/2023\t42\t34\t38
362  12/29/2023\t40\t31\t35.5
363    12/30/2023\t37\t27\t32
364  12/31/2023\t36\t31\t33.5

[365 rows x 1 columns]

In [67]:
weather_df_mod = weather_df['Date\tMax\tMin\tAvg'].str.split('\t', expand=True)
weather_df_mod

              0   1   2     3
0      1/1/2023  45  37    41
1      1/2/2023  43  32  37.5
2      1/3/2023  48  39  43.5
3      1/4/2023  44  33  38.5
4      1/5/2023  34  32    33
..          ...  ..  ..   ...
360  12/27/2023  42  30    36
361  12/28/2023  42  34    38
362  12/29/2023  40  31  35.5
363  12/30/2023  37  27    32
364  12/31/2023  36  31  33.5

[365 rows x 4 columns]

In [68]:
weather_df_mod.columns = ['Date', 'Max', 'Min', 'Avg']

weather_df_mod

           Date Max Min   Avg
0      1/1/2023  45  37    41
1      1/2/2023  43  32  37.5
2      1/3/2023  48  39  43.5
3      1/4/2023  44  33  38.5
4      1/5/2023  34  32    33
..          ...  ..  ..   ...
360  12/27/2023  42  30    36
361  12/28/2023  42  34    38
362  12/29/2023  40  31  35.5
363  12/30/2023  37  27    32
364  12/31/2023  36  31  33.5

[365 rows x 4 columns]

In [70]:
weather_df_mod.dtypes

Date    object
Max     object
Min     object
Avg     object
dtype: object

In [71]:
weather_df_mod['Date'] = pd.to_datetime(weather_df_mod['Date'])

In [72]:
weather_df_mod

          Date Max Min   Avg
0   2023-01-01  45  37    41
1   2023-01-02  43  32  37.5
2   2023-01-03  48  39  43.5
3   2023-01-04  44  33  38.5
4   2023-01-05  34  32    33
..         ...  ..  ..   ...
360 2023-12-27  42  30    36
361 2023-12-28  42  34    38
362 2023-12-29  40  31  35.5
363 2023-12-30  37  27    32
364 2023-12-31  36  31  33.5

[365 rows x 4 columns]

In [73]:
weather_df_mod.dtypes

Date    datetime64[ns]
Max             object
Min             object
Avg             object
dtype: object

In [74]:
df_filtered.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
started_at_day                 object
started_at_month               object
started_at_hour                 int64
month                       period[M]
ride_time             timedelta64[ns]
ride_time_1            datetime64[ns]
rides_in_minutes              float64
dtype: object

In [75]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,month,ride_time,ride_time_1,rides_in_minutes
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,2023-01,0 days 00:00:43,2023-01-01 00:01:58,1.0
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,2023-01,0 days 00:27:40,2023-01-01 00:02:06,28.0
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,2023-01,0 days 00:03:57,2023-01-01 00:03:26,4.0
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,2023-01,0 days 00:09:49,2023-01-01 00:04:07,10.0
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,2023-01,0 days 00:12:25,2023-01-01 00:04:27,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,2023-12,0 days 00:28:47,2023-12-31 23:55:28,29.0
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,2023-12,0 days 00:04:15,2023-12-31 23:56:28,5.0
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:02:25,2023-12-31 23:57:01,3.0
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,2023-12,0 days 00:07:13,2023-12-31 23:58:55,8.0
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:00:38,2023-12-31 23:59:38,1.0

In [76]:
df_filtered['start_date'] = pd.to_datetime(df_filtered['started_at']).dt.date

C:\Users\ramya\AppData\Local\Temp\ipykernel_34468\2770191340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['start_date'] = pd.to_datetime(df_filtered['started_at']).dt.date

In [77]:
df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,month,ride_time,ride_time_1,rides_in_minutes,start_date
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,2023-01,0 days 00:00:43,2023-01-01 00:01:58,1.0,2023-01-01
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,2023-01,0 days 00:27:40,2023-01-01 00:02:06,28.0,2023-01-01
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,2023-01,0 days 00:03:57,2023-01-01 00:03:26,4.0,2023-01-01
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,2023-01,0 days 00:09:49,2023-01-01 00:04:07,10.0,2023-01-01
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,2023-01,0 days 00:12:25,2023-01-01 00:04:27,13.0,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,2023-12,0 days 00:28:47,2023-12-31 23:55:28,29.0,2023-12-31
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,2023-12,0 days 00:04:15,2023-12-31 23:56:28,5.0,2023-12-31
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:02:25,2023-12-31 23:57:01,3.0,2023-12-31
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,2023-12,0 days 00:07:13,2023-12-31 23:58:55,8.0,2023-12-31
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,2023-12,0 days 00:00:38,2023-12-31 23:59:38,1.0,2023-12-31

In [78]:
df_filtered['start_date'] = pd.to_datetime(df_filtered['start_date'])

C:\Users\ramya\AppData\Local\Temp\ipykernel_34468\1770371725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['start_date'] = pd.to_datetime(df_filtered['start_date'])

In [79]:
df_filtered.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
started_at_day                 object
started_at_month               object
started_at_hour                 int64
month                       period[M]
ride_time             timedelta64[ns]
ride_time_1            datetime64[ns]
rides_in_minutes              float64
start_date             datetime64[ns]
dtype: object

In [80]:
# Merging the two DataFrames (The rides dataframe & The weather dataframe) 
final_df = df_filtered.merge(weather_df_mod, left_on = "start_date", right_on = "Date", how = "inner")

In [81]:
final_df.dtypes

rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
started_at_day                 object
started_at_month               object
started_at_hour                 int64
month                       period[M]
ride_time             timedelta64[ns]
ride_time_1            datetime64[ns]
rides_in_minutes              float64
start_date             datetime64[ns]
Date                   datetime64[ns]
Max                            object
Min                            object
Avg                            object
dtype: object

In [82]:
final_df.describe()

,start_lat,start_lng,end_lat,end_lng,started_at_hour,ride_time,rides_in_minutes
count,5.719605e+06,5.719605e+06,5.712615e+06,5.712615e+06,5.719605e+06,5719605,5.719605e+06
mean,4.190289e+01,-8.764704e+01,4.190322e+01,-8.764720e+01,1.409410e+01,0 days 00:18:11.149510499,1.868491e+01
std,4.505514e-02,2.733408e-02,5.444373e-02,6.919759e-02,4.941622e+00,0 days 03:00:12.826995364,1.802114e+02
min,4.163000e+01,-8.794000e+01,0.000000e+00,-8.816000e+01,0.000000e+00,0 days 00:00:00,0.000000e+00
25%,4.188096e+01,-8.766000e+01,4.188103e+01,-8.766027e+01,1.100000e+01,0 days 00:05:25,6.000000e+00
50%,4.189902e+01,-8.764403e+01,4.190000e+01,-8.764410e+01,1.500000e+01,0 days 00:09:32,1.000000e+01
75%,4.193000e+01,-8.762991e+01,4.193000e+01,-8.763000e+01,1.800000e+01,0 days 00:16:55,1.700000e+01
max,4.207000e+01,-8.746000e+01,4.218000e+01,0.000000e+00,2.300000e+01,68 days 09:29:04,9.849000e+04

In [86]:
final_df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,...,started_at_hour,month,ride_time,ride_time_1,rides_in_minutes,start_date,Date,Max,Min,Avg
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,...,0,2023-01,0 days 00:00:43,2023-01-01 00:01:58,1.0,2023-01-01,2023-01-01,45,37,41
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,...,0,2023-01,0 days 00:27:40,2023-01-01 00:02:06,28.0,2023-01-01,2023-01-01,45,37,41
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,...,0,2023-01,0 days 00:03:57,2023-01-01 00:03:26,4.0,2023-01-01,2023-01-01,45,37,41
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,...,0,2023-01,0 days 00:09:49,2023-01-01 00:04:07,10.0,2023-01-01,2023-01-01,45,37,41
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,...,0,2023-01,0 days 00:12:25,2023-01-01 00:04:27,13.0,2023-01-01,2023-01-01,45,37,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,...,23,2023-12,0 days 00:28:47,2023-12-31 23:55:28,29.0,2023-12-31,2023-12-31,36,31,33.5
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,...,23,2023-12,0 days 00:04:15,2023-12-31 23:56:28,5.0,2023-12-31,2023-12-31,36,31,33.5
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,...,23,2023-12,0 days 00:02:25,2023-12-31 23:57:01,3.0,2023-12-31,2023-12-31,36,31,33.5
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,...,23,2023-12,0 days 00:07:13,2023-12-31 23:58:55,8.0,2023-12-31,2023-12-31,36,31,33.5
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,...,23,2023-12,0 days 00:00:38,2023-12-31 23:59:38,1.0,2023-12-31,2023-12-31,36,31,33.5

In [87]:
final_df.drop(columns = ['Max','Min'], inplace = True)

In [88]:
final_df.rename(columns={"Avg":"avg_temp"}, inplace=True)

In [89]:
final_df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,...,started_at_day,started_at_month,started_at_hour,month,ride_time,ride_time_1,rides_in_minutes,start_date,Date,avg_temp
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,...,Sunday,January,0,2023-01,0 days 00:00:43,2023-01-01 00:01:58,1.0,2023-01-01,2023-01-01,41
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,...,Sunday,January,0,2023-01,0 days 00:27:40,2023-01-01 00:02:06,28.0,2023-01-01,2023-01-01,41
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,...,Sunday,January,0,2023-01,0 days 00:03:57,2023-01-01 00:03:26,4.0,2023-01-01,2023-01-01,41
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,...,Sunday,January,0,2023-01,0 days 00:09:49,2023-01-01 00:04:07,10.0,2023-01-01,2023-01-01,41
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,...,Sunday,January,0,2023-01,0 days 00:12:25,2023-01-01 00:04:27,13.0,2023-01-01,2023-01-01,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,...,Sunday,December,23,2023-12,0 days 00:28:47,2023-12-31 23:55:28,29.0,2023-12-31,2023-12-31,33.5
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,...,Sunday,December,23,2023-12,0 days 00:04:15,2023-12-31 23:56:28,5.0,2023-12-31,2023-12-31,33.5
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,...,Sunday,December,23,2023-12,0 days 00:02:25,2023-12-31 23:57:01,3.0,2023-12-31,2023-12-31,33.5
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,...,Sunday,December,23,2023-12,0 days 00:07:13,2023-12-31 23:58:55,8.0,2023-12-31,2023-12-31,33.5
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,...,Sunday,December,23,2023-12,0 days 00:00:38,2023-12-31 23:59:38,1.0,2023-12-31,2023-12-31,33.5

# Between the next two lines I choose the first line just for cleaning purposes

In [90]:
final_df.drop(columns = ['Date','month','ride_time','ride_time_1'], inplace = True)

In [ ]:
final_df.drop(columns = ['Date'], inplace = True)

In [91]:
final_df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,rides_in_minutes,start_date,avg_temp
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,1.0,2023-01-01,41
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,28.0,2023-01-01,41
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,4.0,2023-01-01,41
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,10.0,2023-01-01,41
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,13.0,2023-01-01,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,29.0,2023-12-31,33.5
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,5.0,2023-12-31,33.5
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,3.0,2023-12-31,33.5
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,8.0,2023-12-31,33.5
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,1.0,2023-12-31,33.5

In [92]:
#final_df.to_csv('final_df.csv', index=False)

In [93]:
num_rides_weather = final_df.groupby(["start_date","avg_temp"])['started_at'].count()

In [94]:
num_rides_weather

start_date  avg_temp
2023-01-01  41          5135
2023-01-02  37.5        5507
2023-01-03  43.5        5127
2023-01-04  38.5        7261
2023-01-05  33          6572
                        ...
2023-12-27  36          6004
2023-12-28  38          3891
2023-12-29  35.5        4881
2023-12-30  32          5079
2023-12-31  33.5        2998
Name: started_at, Length: 365, dtype: int64

In [95]:
# Creating a dataframe of the number of the rides per day with the temperature of the day
num_rides_weather = pd.DataFrame(num_rides_weather).reset_index()

In [96]:
num_rides_weather

    start_date avg_temp  started_at
0   2023-01-01       41        5135
1   2023-01-02     37.5        5507
2   2023-01-03     43.5        5127
3   2023-01-04     38.5        7261
4   2023-01-05       33        6572
..         ...      ...         ...
360 2023-12-27       36        6004
361 2023-12-28       38        3891
362 2023-12-29     35.5        4881
363 2023-12-30       32        5079
364 2023-12-31     33.5        2998

[365 rows x 3 columns]

In [97]:
#num_rides_weather.to_csv("num_rides_weather.csv", index = False)

# After talking with Alex

In [98]:
# Creating a column for for the start and end stations
final_df["start_end"] = final_df["start_station_name"] + " / " + final_df["end_station_name"]

In [99]:
final_df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,rides_in_minutes,start_date,avg_temp,start_end
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,1.0,2023-01-01,41,NaN
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,28.0,2023-01-01,41,Fairbanks Ct & Grand Ave / New St & Illinois St
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,4.0,2023-01-01,41,Sheridan Rd & Loyola Ave / Sheridan Rd & Loyol...
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,10.0,2023-01-01,41,Leavitt St & Lawrence Ave / Broadway & Argyle St
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,13.0,2023-01-01,41,Clark St & Montrose Ave / Clark St & Montrose Ave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,29.0,2023-12-31,33.5,McClurg Ct & Ohio St / Fairbanks Ct & Grand Ave
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,5.0,2023-12-31,33.5,NaN
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,3.0,2023-12-31,33.5,NaN
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,8.0,2023-12-31,33.5,Wolcott (Ravenswood) Ave & Montrose Ave / Sher...
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,1.0,2023-12-31,33.5,NaN

In [102]:
# Checking what is most used route for each day of the week
route_usage = final_df.groupby(['start_end', 'started_at_day']).size().reset_index(name='ride_count')

most_used_routes = route_usage.loc[route_usage.groupby('started_at_day')['ride_count'].idxmax()]

In [103]:
most_used_routes

,start_end,started_at_day,ride_count
530585,Streeter Dr & Grand Ave / Streeter Dr & Grand Ave,Friday,1399
530586,Streeter Dr & Grand Ave / Streeter Dr & Grand Ave,Monday,1177
530587,Streeter Dr & Grand Ave / Streeter Dr & Grand Ave,Saturday,2457
530588,Streeter Dr & Grand Ave / Streeter Dr & Grand Ave,Sunday,2036
530589,Streeter Dr & Grand Ave / Streeter Dr & Grand Ave,Thursday,1082
207459,Ellis Ave & 60th St / Ellis Ave & 55th St,Tuesday,1075
207708,Ellis Ave & 60th St / University Ave & 57th St,Wednesday,1066

In [114]:
route_usage = final_df.groupby(['start_end', 'started_at_day']).size().reset_index(name='ride_count')

In [115]:
route_usage = route_usage.sort_values(by=['started_at_day', 'ride_count'], ascending=[True, False])

In [122]:
final_df[final_df['rides_in_minutes'] < 1]

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,rides_in_minutes,start_date,avg_temp,start_end
24493,electric_bike,2023-01-05 09:10:39,2023-01-05 09:10:39,Carpenter St & Huron St,13196,Carpenter St & Huron St,13196,41.894566,-87.653476,41.894556,-87.653449,casual,Thursday,January,9,0.0,2023-01-05,33,Carpenter St & Huron St / Carpenter St & Huron St
27170,electric_bike,2023-01-05 16:53:43,2023-01-05 16:53:43,Clark St & Lake St,KA1503000012,Clark St & Lake St,KA1503000012,41.885951,-87.631026,41.886021,-87.630876,member,Thursday,January,16,0.0,2023-01-05,33,Clark St & Lake St / Clark St & Lake St
44378,electric_bike,2023-01-08 14:27:26,2023-01-08 14:27:26,Dearborn St & Monroe St,TA1305000006,Dearborn St & Monroe St,TA1305000006,41.880385,-87.629355,41.881320,-87.629521,casual,Sunday,January,14,0.0,2023-01-08,29.5,Dearborn St & Monroe St / Dearborn St & Monroe St
109370,electric_bike,2023-01-17 08:31:49,2023-01-17 08:31:49,Marine Dr & Ainslie St,KA1504000171,Marine Dr & Ainslie St,KA1504000171,41.971608,-87.650268,41.971600,-87.650154,casual,Tuesday,January,8,0.0,2023-01-17,43,Marine Dr & Ainslie St / Marine Dr & Ainslie St
174093,electric_bike,2023-01-27 07:36:05,2023-01-27 07:36:05,Clark St & Elm St,TA1307000039,NaN,NaN,41.902601,-87.631780,41.900000,-87.630000,member,Friday,January,7,0.0,2023-01-27,24.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5710087,electric_bike,2023-12-29 17:38:37,2023-12-29 17:38:37,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Friday,December,17,0.0,2023-12-29,35.5,NaN
5711542,electric_bike,2023-12-30 00:07:16,2023-12-30 00:07:16,NaN,NaN,NaN,NaN,41.950000,-87.730000,41.950000,-87.730000,member,Saturday,December,0,0.0,2023-12-30,32,NaN
5711604,electric_bike,2023-12-30 00:37:42,2023-12-30 00:37:42,Public Rack - Laramie Ave & Grand Ave,550,Public Rack - Laramie Ave & Grand Ave,550,41.917277,-87.756119,41.917002,-87.755972,member,Saturday,December,0,0.0,2023-12-30,32,Public Rack - Laramie Ave & Grand Ave / Public...
5711867,electric_bike,2023-12-30 06:36:10,2023-12-30 06:36:10,NaN,NaN,NaN,NaN,41.770000,-87.640000,41.770000,-87.640000,casual,Saturday,December,6,0.0,2023-12-30,32,NaN
5716624,classic_bike,2023-12-31 00:11:35,2023-12-31 00:11:35,LaSalle St & Illinois St,13430,LaSalle St & Illinois St,13430,41.890762,-87.631697,41.890762,-87.631697,casual,Sunday,December,0,0.0,2023-12-31,33.5,LaSalle St & Illinois St / LaSalle St & Illino...

In [125]:
# Dropping the rides with less than a minute, because most likely there was a problem with the ride
final_df_filtered = final_df[final_df['rides_in_minutes'] >= 1]

In [126]:
final_df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,rides_in_minutes,start_date,avg_temp,start_end
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,1.0,2023-01-01,41,NaN
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,28.0,2023-01-01,41,Fairbanks Ct & Grand Ave / New St & Illinois St
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,4.0,2023-01-01,41,Sheridan Rd & Loyola Ave / Sheridan Rd & Loyol...
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,10.0,2023-01-01,41,Leavitt St & Lawrence Ave / Broadway & Argyle St
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,13.0,2023-01-01,41,Clark St & Montrose Ave / Clark St & Montrose Ave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,29.0,2023-12-31,33.5,McClurg Ct & Ohio St / Fairbanks Ct & Grand Ave
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,5.0,2023-12-31,33.5,NaN
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,3.0,2023-12-31,33.5,NaN
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,8.0,2023-12-31,33.5,Wolcott (Ravenswood) Ave & Montrose Ave / Sher...
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,1.0,2023-12-31,33.5,NaN

# Creating a dataframe of the 10 most used routes for each day of the week

In [129]:
grouped = final_df_filtered.groupby(['started_at_day', 'start_end', 'member_casual']).agg(
    ride_count=('rides_in_minutes', 'size'),
    average_time=('rides_in_minutes', 'mean')
).unstack(fill_value=0).reset_index()

# Flatten the MultiIndex columns
grouped.columns = ['_'.join(col).strip() for col in grouped.columns.values]
grouped.rename(columns={
    'started_at_day_': 'started_at_day',
    'start_end_': 'start_end'
}, inplace=True)

# Calculate total rides for each route
grouped['total_rides'] = grouped['ride_count_casual'] + grouped['ride_count_member']

# For each day, get the top 10 routes by total_rides
top_routes_per_day = grouped.sort_values(['started_at_day', 'total_rides'], ascending=[True, False])
top_routes_per_day = top_routes_per_day.groupby('started_at_day').head(10)

# Display the result
top_routes_per_day

,started_at_day,start_end,ride_count_casual,ride_count_member,average_time_casual,average_time_member,total_rides
77762,Friday,Streeter Dr & Grand Ave / Streeter Dr & Grand Ave,1203,196,35.128013,21.408163,1399
28424,Friday,DuSable Lake Shore Dr & Monroe St / DuSable La...,849,127,32.799764,19.196850,976
30383,Friday,Ellis Ave & 60th St / Ellis Ave & 55th St,267,665,5.722846,5.369925,932
30415,Friday,Ellis Ave & 60th St / University Ave & 57th St,174,697,5.195402,4.665710,871
30248,Friday,Ellis Ave & 55th St / Ellis Ave & 60th St,257,605,6.420233,5.352066,862
...,...,...,...,...,...,...,...
527858,Wednesday,Calumet Ave & 33rd St / State St & 33rd St,57,865,4.859649,5.337572,922
594677,Wednesday,Streeter Dr & Grand Ave / Streeter Dr & Grand Ave,743,142,34.916555,18.753521,885
567941,Wednesday,Loomis St & Lexington St / Morgan St & Polk St,54,644,13.074074,5.583851,698
574570,Wednesday,Morgan St & Polk St / Loomis St & Lexington St,34,591,5.588235,5.543147,625
546392,Wednesday,DuSable Lake Shore Dr & Monroe St / DuSable La...,536,85,34.507463,14.223529,621

In [130]:
#top_routes_per_day.to_csv("top_routes_per_day_mem_cas_avg_time.csv")

In [131]:
grouped_2 = final_df_filtered.groupby(['started_at_day', 'start_station_name', 'member_casual']).agg(
    ride_count=('rides_in_minutes', 'size'),
    average_time=('rides_in_minutes', 'mean')
).unstack(fill_value=0).reset_index()

# Flatten the MultiIndex columns
grouped_2.columns = ['_'.join(col).strip() for col in grouped_2.columns.values]
grouped_2.rename(columns={
    'started_at_day_': 'started_at_day',
    'start_end_': 'start_end'
}, inplace=True)

# Calculate total rides for each route
grouped_2['total_rides'] = grouped_2['ride_count_casual'] + grouped_2['ride_count_member']

# For each day, get the top 10 routes by total_rides
top_routes_per_day_start = grouped_2.sort_values(['started_at_day', 'total_rides'], ascending=[True, False])
top_routes_per_day_start = top_routes_per_day_start.groupby('started_at_day').head(10)

# Display the result
top_routes_per_day_start

,started_at_day,start_station_name_,ride_count_casual,ride_count_member,average_time_casual,average_time_member,total_rides
1267,Friday,Streeter Dr & Grand Ave,6763,2266,45.966435,21.708297,9029
263,Friday,DuSable Lake Shore Dr & Monroe St,4192,1258,57.200620,22.293323,5450
561,Friday,Michigan Ave & Oak St,3404,1977,37.475029,20.689934,5381
166,Friday,Clark St & Elm St,1621,3706,28.038865,11.675121,5327
439,Friday,Kingsbury St & Kinzie St,1278,3800,21.213615,9.528947,5078
...,...,...,...,...,...,...,...
8236,Wednesday,Canal St & Adams St,1035,3832,17.358454,12.035230,4867
8304,Wednesday,Clinton St & Jackson Blvd,905,3615,16.369061,12.074689,4520
9410,Wednesday,Wells St & Concord Ln,1419,3050,15.215645,11.235410,4469
9375,Wednesday,University Ave & 57th St,1065,3359,18.798122,7.797559,4424
9411,Wednesday,Wells St & Elm St,1282,3074,17.383775,10.390046,4356

In [132]:
top_routes_per_day_start.head(60)

,started_at_day,start_station_name_,ride_count_casual,ride_count_member,average_time_casual,average_time_member,total_rides
1267,Friday,Streeter Dr & Grand Ave,6763,2266,45.966435,21.708297,9029
263,Friday,DuSable Lake Shore Dr & Monroe St,4192,1258,57.200620,22.293323,5450
561,Friday,Michigan Ave & Oak St,3404,1977,37.475029,20.689934,5381
166,Friday,Clark St & Elm St,1621,3706,28.038865,11.675121,5327
439,Friday,Kingsbury St & Kinzie St,1278,3800,21.213615,9.528947,5078
1320,Friday,Wells St & Concord Ln,1835,3109,18.383651,12.160180,4944
264,Friday,DuSable Lake Shore Dr & North Blvd,2669,1812,38.126639,17.439845,4481
1321,Friday,Wells St & Elm St,1491,2968,17.064386,11.045822,4459
65,Friday,Broadway & Barry Ave,1493,2752,19.545881,12.843750,4245
567,Friday,Millennium Park,2835,1380,50.764727,21.379710,4215
2602,Monday,Streeter Dr & Grand Ave,5368,2005,58.372765,19.626434,7373
1822,Monday,Kingsbury St & Kinzie St,1134,4234,13.704586,9.073217,5368
1577,Monday,Clinton St & Washington Blvd,808,4149,17.577970,11.721620,4957
1550,Monday,Clark St & Elm St,1205,3490,25.915353,11.881375,4695
1647,Monday,DuSable Lake Shore Dr & North Blvd,2333,2183,34.887698,17.067797,4516
1945,Monday,Michigan Ave & Oak St,2549,1875,58.251079,19.945600,4424
1646,Monday,DuSable Lake Shore Dr & Monroe St,3347,1021,57.682103,22.802155,4368
2620,Monday,University Ave & 57th St,936,3170,18.720085,9.368454,4106
2655,Monday,Wells St & Concord Ln,1240,2778,28.939516,11.810655,4018
1573,Monday,Clinton St & Madison St,725,3108,15.322759,10.160553,3833
3946,Saturday,Streeter Dr & Grand Ave,11465,3536,49.234365,21.108314,15001
2981,Saturday,DuSable Lake Shore Dr & Monroe St,8123,2189,46.093192,24.155779,10312
3281,Saturday,Michigan Ave & Oak St,5499,2278,43.847427,22.386304,7777
2982,Saturday,DuSable Lake Shore Dr & North Blvd,4930,2757,34.008519,21.301777,7687
3950,Saturday,Theater on the Lake,4080,2688,39.022304,21.696801,6768
3999,Saturday,Wells St & Concord Ln,2817,3667,22.873269,12.536406,6484
3287,Saturday,Millennium Park,4764,1402,81.954660,21.892297,6166
2891,Saturday,Clark St & Lincoln Ave,3024,3057,35.929894,14.064442,6081
2884,Saturday,Clark St & Elm St,2221,3243,22.357947,12.436324,5464
2985,Saturday,Dusable Harbor,4005,1359,46.904120,22.848418,5364
5279,Sunday,Streeter Dr & Grand Ave,8770,2848,58.166135,21.670646,11618
4326,Sunday,DuSable Lake Shore Dr & Monroe St,6054,1863,55.283449,26.659152,7917
4624,Sunday,Michigan Ave & Oak St,4625,2214,50.244108,22.215447,6839
4327,Sunday,DuSable Lake Shore Dr & North Blvd,4046,2675,46.639150,19.546916,6721
5283,Sunday,Theater on the Lake,3582,2564,35.471803,21.625195,6146
4630,Sunday,Millennium Park,4196,1255,62.508103,21.572112,5451
5332,Sunday,Wells St & Concord Ln,1949,2888,24.860954,12.109418,4837
4230,Sunday,Clark St & Elm St,1797,3015,26.235392,12.921061,4812
5202,Sunday,Shedd Aquarium,3409,875,36.955412,20.377143,4284
4330,Sunday,Dusable Harbor,3177,1021,45.897702,25.159647,4198
6645,Thursday,Streeter Dr & Grand Ave,4975,2148,56.165628,18.135940,7123
5589,Thursday,Clinton St & Washington Blvd,1258,5661,14.523847,12.104575,6919
5834,Thursday,Kingsbury St & Kinzie St,1344,4259,18.318452,9.170228,5603
5585,Thursday,Clinton St & Madison St,1106,4106,16.215190,11.685095,5212
5562,Thursday,Clark St & Elm St,1406,3803,18.178521,11.960820,5209
6698,Thursday,Wells St & Concord Ln,1659,3088,16.095238,11.350389,4747
6699,Thursday,Wells St & Elm St,1417,3325,18.951306,10.401203,4742
5515,Thursday,Canal St & Adams St,1004,3703,19.022908,12.439914,4707
5583,Thursday,Clinton St & Jackson Blvd,950,3498,18.748421,10.907947,4448
5957,Thursday,Michigan Ave & Oak St,2247,2132,42.351135,21.297373,4379
6955,Tuesday,Clinton St & Washington Blvd,1316,6140,15.629939,11.335831,7456
8000,Tuesday,Streeter Dr & Grand Ave,4499,2278,46.526339,19.113257,6777
7199,Tuesday,Kingsbury St & Kinzie St,1235,4724,15.085020,10.199407,5959
6951,Tuesday,Clinton St & Madison St,1007,4143,28.255214,10.727009,5150
6928,Tuesday,Clark St & Elm St,1278,3825,64.022692,11.917908,5103
6881,Tuesday,Canal St & Adams St,945,4006,13.924868,14.069646,4951
6949,Tuesday,Clinton St & Jackson Blvd,944,3516,17.407839,11.400739,4460
7323,Tuesday,Michigan Ave & Oak St,2219,2116,48.828752,19.327032,4335
7026,Tuesday,DuSable Lake Shore Dr & North Blvd,2171,2110,25.013358,17.976777,4281
7025,Tuesday,DuSable Lake Shore Dr & Monroe St,3076,1152,62.851430,22.041667,4228

In [133]:
#top_routes_per_day_start.to_csv("top_routes_per_day_start.csv")

# Taking a subset of the data for Tableau Maping

In [134]:
subset_df_20 = final_df_filtered.sample(frac=0.2, random_state=42)

In [135]:
#subset_df_20.to_csv("subset_df.csv")

In [136]:
subset_df_10 = final_df_filtered.sample(frac = 0.1, random_state=0)

In [137]:
#subset_df_10.to_csv("subset_df_10.csv")

# Mapping the dates into Seasons

In [139]:
def get_season(date):
    if date >= datetime(date.year, 12, 21) or date <= datetime(date.year, 3, 20):
        return "Winter"
    elif datetime(date.year, 3, 21) <= date <= datetime(date.year, 6, 20):
        return "Spring"
    elif datetime(date.year, 6, 21) <= date <= datetime(date.year, 9, 20):
        return "Summer"
    elif datetime(date.year, 9, 21) <= date <= datetime(date.year, 12, 20):
        return "Fall"
    return None

# Apply the function to the 'start_date' column and create a new 'season' column
final_df_filtered['season'] = final_df_filtered['start_date'].apply(get_season)

C:\Users\ramya\AppData\Local\Temp\ipykernel_34468\3443635766.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df_filtered['season'] = final_df_filtered['start_date'].apply(get_season)

In [140]:
final_df_filtered

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,rides_in_minutes,start_date,avg_temp,start_end,season
0,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0,1.0,2023-01-01,41,NaN,Winter
1,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0,28.0,2023-01-01,41,Fairbanks Ct & Grand Ave / New St & Illinois St,Winter
2,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0,4.0,2023-01-01,41,Sheridan Rd & Loyola Ave / Sheridan Rd & Loyol...,Winter
3,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0,10.0,2023-01-01,41,Leavitt St & Lawrence Ave / Broadway & Argyle St,Winter
4,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0,13.0,2023-01-01,41,Clark St & Montrose Ave / Clark St & Montrose Ave,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23,29.0,2023-12-31,33.5,McClurg Ct & Ohio St / Fairbanks Ct & Grand Ave,Winter
5719601,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23,5.0,2023-12-31,33.5,NaN,Winter
5719602,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23,3.0,2023-12-31,33.5,NaN,Winter
5719603,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23,8.0,2023-12-31,33.5,Wolcott (Ravenswood) Ave & Montrose Ave / Sher...,Winter
5719604,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23,1.0,2023-12-31,33.5,NaN,Winter

In [141]:
#final_df_filtered.to_csv("final_df_filtered.csv")